* {
    margin: auto;
    padding: auto;
    background-color: rgb(10, 37, 41);
}

.main-div {
    margin: auto;
    padding: 20px;
    width: 48%;

    align-items: center;
    position: absolute;
    top: 30%;
    left: 25%;
    color: aquamarine;
}

button{
    background-color: black;
    color: aliceblue;
    font-size: large;
    width: 40px;
    height: 30px;
}


h1 {
    text-align: center;
    font-size: 50px;
}

.add-items {
    padding: 10px;
    text-align: center;
}